@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.feed-item {
  width: calc(100% - 64px);
  background: #fff;
  margin: $spacer * 2 auto;
  padding: $spacer $spacer * 4 $spacer * 3;
  border-radius: $spacer;

  @include respond-to(handhelds) {
    width: calc(100% - 32px);
    margin: $spacer * 9 0 $spacer * 12;
    padding: $spacer $spacer * 2 $spacer * 2;
  }

  @include respond-to(medium-screens) {
    width: calc(100% - 32px);
    margin: $spacer * 9 0 $spacer * 12;
    padding: $spacer $spacer * 2 $spacer * 2;
  }

  &__avatar {
    position: relative;
    border-radius: 50%;
    top: $spacer * 3;
    margin-right: $spacer * 2;
  }
  &__time {
    position: relative;
    margin-left: -$spacer * 22;
    background: #fff;
    padding: $spacer * 2;
    margin-top: -$spacer;
    float: left;
    border-radius: $spacer;

    @include respond-to(handhelds) {
      float: right;
      margin-top: -$spacer * 8;
      margin-right: -$spacer * 3;
    }

    @include respond-to(medium-screens) {
      float: right;
      margin-top: -$spacer * 9;
      margin-right: -$spacer * 3;
    }
  }

  &__type {
    font-size: $title_size;
  }

  &__content {
    overflow-wrap: break-word;

    img {
      width: 100%;
      height: auto;
    }

    &-price {
      border: 2px dashed #f1f1f1;
      font-size: 2em;
      /* float: right; */
      padding: $spacer;
      margin-top: $spacer * 4;
      display: block;
      width: $spacer * 20;
      text-align: center;
      margin: $spacer * 2 auto;
    }
  }

  &__card {
    border-left: 2px solid #f1f1f1;
    padding: $spacer / 2 $spacer * 3;
    margin-top: $spacer;
  }
}
